@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
  --lightDark: #4a4a4a;
  --dark: #cbcbcb;
  --fontPrimary: #fff;
  --sceondary : #fbfbd4;
}
#main {
    background-color: var(--dark);
    width: 90%;
    max-height: vh;
    margin: 20px auto;
    border: 2px solid var(--lightDark);
    border-radius: 10px;
    position: relative;
}
#tittle {
  display: grid;
  grid-template-rows: 1fr  1fr;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 20px 20px;
}
#input{
 display: flex;
 justify-content: center;
  width: 80%;
  margin: 10px auto;
  background-color: var(--sceondary);
  padding: 20px 30px;
  font-size: 24px;
}
li, .cBox, #fotter {
  display: flex;
}
#fotter {
 display: flex;
 justify-content: space-between;
 width: 80%;
 margin: 20px auto;
}
#right, #lift {
  background-color: var(--sceondary);
  padding: 20px 30px;
}
.border {
  border-top: 5px var(--lightDark);
}
 #lift .iteam {
  margin: 10px auto;
  justify-content: space-between;
}
 #right .iteam {
  margin: 10px auto;
}
#iteams2 input[type=submit] {
 background-color: red;
 border: 1px var(--dark);
 border-radius: 10%;
 padding: 0 10px;
 font-size: 18px;
}

#iteams , #iteams2 label {

  font-size: 18px;
}
.task{
  text-wrap: none;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  padding: 5px 0;
  border-bottom: 1px solid var(--dark);
}
